// REPOSITORY SOURCE: diplomat-bit/garbage-typescript | PATH: diplomat-bit-garbage-typescript-95791a2/src/resources/ai/ads.ts
================================================================================

// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

export * from './ads/index';


================================================================================
// APPENDED FROM REPO: diplomat-bit/jocall3-node | ORIGINAL PATH: diplomat-bit-jocall3-node-fae6abf/src/resources/ai/ads.ts
================================================================================

// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../resource';

export class Ads extends APIResource {}


================================================================================
// APPENDED FROM REPO: diplomat-bit/jocall3-typescript | ORIGINAL PATH: diplomat-bit-jocall3-typescript-b730718/src/resources/ai/ads.ts
================================================================================

// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Ads extends APIResource {
  /**
   * Retrieves a list of all video advertisements previously generated by the user in
   * the AI Ad Studio.
   *
   * @example
   * ```ts
   * const ads = await client.ai.ads.list();
   * ```
   */
  list(query: AdListParams | null | undefined = {}, options?: RequestOptions): APIPromise<unknown> {
    return this._client.get('/ai/ads', { query, ...options });
  }

  /**
   * Polls the real-time status of an asynchronous video generation operation. Once
   * complete ('done'), the response includes a temporary, signed URL to access and
   * download the generated video asset.
   *
   * @example
   * ```ts
   * const response =
   *   await client.ai.ads.retrieveOperationStatus(
   *     'op-video-gen-12345-abcde',
   *   );
   * ```
   */
  retrieveOperationStatus(operationID: string, options?: RequestOptions): APIPromise<unknown> {
    return this._client.get(path`/ai/ads/operations/${operationID}`, options);
  }
}

export type AdListResponse = unknown;

export type AdRetrieveOperationStatusResponse = unknown;

export interface AdListParams {
  /**
   * Maximum number of items to return in a single page.
   */
  limit?: number;

  /**
   * Number of items to skip before starting to collect the result set.
   */
  offset?: number;

  /**
   * Filter ads by their generation status.
   */
  status?: string;
}

export declare namespace Ads {
  export {
    type AdListResponse as AdListResponse,
    type AdRetrieveOperationStatusResponse as AdRetrieveOperationStatusResponse,
    type AdListParams as AdListParams,
  };
}
