// REPOSITORY SOURCE: diplomat-bit/garbage-typescript | PATH: diplomat-bit-garbage-typescript-95791a2/src/resources/corporate/compliance/audits.ts
================================================================================

// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Audits extends APIResource {
  /**
   * Request Real-time Compliance Audit
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.requestAudit({
   *     auditScope: 'string',
   *     endDate: '2018-06-28',
   *     startDate: '2006-12-17',
   *   });
   * ```
   */
  requestAudit(
    body: AuditRequestAuditParams,
    options?: RequestOptions,
  ): APIPromise<AuditRequestAuditResponse> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieve AI-Generated Audit Report
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'string',
   *   );
   * ```
   */
  retrieveReport(auditID: string, options?: RequestOptions): APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(path`/corporate/compliance/audits/${auditID}/report`, options);
  }
}

export interface AuditRequestAuditResponse {
  auditId?: string;
}

export interface AuditRetrieveReportResponse {
  generatedAt: string;

  reportId: string;

  findings?: Array<string>;
}

export interface AuditRequestAuditParams {
  auditScope: string;

  endDate: string;

  startDate: string;
}

export declare namespace Audits {
  export {
    type AuditRequestAuditResponse as AuditRequestAuditResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestAuditParams as AuditRequestAuditParams,
  };
}


================================================================================
// APPENDED FROM REPO: diplomat-bit/jocall3-node | ORIGINAL PATH: diplomat-bit-jocall3-node-fae6abf/src/resources/corporate/compliance/audits.ts
================================================================================

// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../resource';
import * as Core from '../../../core';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request();
   * ```
   */
  request(body: AuditRequestParams, options?: Core.RequestOptions): Core.APIPromise<unknown> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }
}

export type AuditRequestResponse = unknown;

export interface AuditRequestParams {}

export declare namespace Audits {
  export { type AuditRequestResponse as AuditRequestResponse, type AuditRequestParams as AuditRequestParams };
}


================================================================================
// APPENDED FROM REPO: diplomat-bit/jocall3-typescript | ORIGINAL PATH: diplomat-bit-jocall3-typescript-b730718/src/resources/corporate/compliance/audits.ts
================================================================================

// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Audits extends APIResource {
  /**
   * Initiates an AI-powered compliance audit for a specific period or scope,
   * generating a comprehensive report detailing adherence to regulatory frameworks,
   * internal policies, and flagging potential risks.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.request();
   * ```
   */
  request(body: AuditRequestParams, options?: RequestOptions): APIPromise<unknown> {
    return this._client.post('/corporate/compliance/audits', { body, ...options });
  }

  /**
   * Retrieves the full report generated by an AI-driven compliance audit.
   *
   * @example
   * ```ts
   * const response =
   *   await client.corporate.compliance.audits.retrieveReport(
   *     'audit_corp_xyz789',
   *   );
   * ```
   */
  retrieveReport(auditID: string, options?: RequestOptions): APIPromise<AuditRetrieveReportResponse> {
    return this._client.get(path`/corporate/compliance/audits/${auditID}/report`, options);
  }
}

export type AuditRequestResponse = unknown;

export interface AuditRetrieveReportResponse {
  /**
   * The period covered by this audit report.
   */
  periodCovered: unknown;
}

export interface AuditRequestParams {}

export declare namespace Audits {
  export {
    type AuditRequestResponse as AuditRequestResponse,
    type AuditRetrieveReportResponse as AuditRetrieveReportResponse,
    type AuditRequestParams as AuditRequestParams,
  };
}
